@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
html {
  min-height: 100%;
}
body {
  height: 100%;
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  cursor: pointer;
  text-decoration: none;
}
