.platform {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 3px;
  background: linear-gradient(180deg, #363636 0%, #1b1b1b 100%);
  color: #fff;

  .left {
    width: 80%;
    h2 {
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 10px;
      color: #d0ed96;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 10px;
      height: 150px;
      width: 150px;
    }
  }
}

@media screen and (max-width: 540px) {
  .platform {
    .left {
      a {
        display: block;
      }
    }
    .right {
      display: none;
    }
  }
}
