.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #efff96;

  .logo {
    img {
      margin-right: 10px;
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    .navigationUl {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 30px;
        position: relative;

        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 24px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: #d650ff;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.2s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .socialMedia {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-right: 30px;
        img {
          transition: all ease-in-out 0.2s;
          &:hover {
            transform: translateY(-5px);
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 5px;
    .socialMedia {
      display: none;
    }
  }
  .socialMedia {
    display: none;
  }
}
