.content {
  .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__text {
      width: 70%;
    }
    .title {
      display: flex;
      align-items: flex-end;
      h1 {
        color: #d0ed96;
        font-weight: 900;
        margin-right: 10px;
      }
    }
    p {
      font-size: 18px;
      line-height: 1.5;
      color: #bcbcbc;
      margin-top: 30px;
    }
  }

  .functional {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .tableWrapper {
      width: 80%;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: #d0ed96;
        }
      }
      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        font-weight: 500;

        th {
          text-align: left;
          color: #8698aa;
          font-weight: 600;
          padding: 12px 8px;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
          &:hover {
            background-color: #c7c7c7;
          }
        }

        td {
          padding: 12px 8px;
          border-top: 1px solid #eaeef2;
          color: #dcdcdc;

          img {
            transition: all ease-in-out 0.2s;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
              opacity: 1;
            }
          }

          a {
            transition: all ease-in-out 0.2s;
            &:hover {
              color: #0775e3;
            }
          }
          &:last-child {
            border-top: 0;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    &_ride {
      width: 19%;
      text-align: center;
      .addTradeButton {
        width: 80%;
        padding: 15px 30px;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .description {
    &__img {
      display: none;
    }
    .description__text {
      width: 100%;
    }
  }
  .tableWrapper {
    overflow-x: auto;
  }
}
