.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInDown 0.4s ease-in-out;

  .modalWrapper {
    background-color: rgb(21, 21, 21);
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    max-width: 600px;
    width: 100%;

    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      .closeButton {
        background-color: transparent;
        border: none;
        color: #333;
        font-size: 26px;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
          color: #fff;
        }
      }
    }

    .modalBody {
      display: flex;
      flex-direction: column;

      .formGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        label {
          font-size: 16px;
          margin-bottom: 8px;
        }

        input {
          font-size: 16px;
          color: black;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      .submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #000;
        font-size: 20px;
        border: 1px solid #d0ed96;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
          background-color: #2c2c2c;
          border: 1px solid #aaff00;
        }
      }
    }
  }
}
@keyframes slideInDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
